ansicolors==1.1.8
distro==1.9.0
pyfiglet==1.0.4
importlib_resources==7.1.0
packaging==26.0
setuptools==82.0.1
requests==2.33.1
responses==0.26.0
semver==3.0.4
python-hosts==1.1.2
PyYAML==6.0.3
types-PyYAML==6.0.12.20260408
pyobjc-core==12.1; sys_platform == 'darwin'
pyobjc-framework-Cocoa==12.1; sys_platform == 'darwin'
requests-unixsocket==0.4.1
dpath==2.2.0
pyOpenSSL==26.0.0
types-pyOpenSSL==24.1.0.20240722
pyclip==0.7.0
urllib3==2.6.3
